.Header {
    background-color: #1f1f1f;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.Logo {
    max-height: 40px;
}

.active {
    color: deepskyblue;
    text-decoration: none;
}

.inactive {
    color: white;
    text-decoration: none;
}