@font-face {
  font-family: 'OCR-A';
  src: url("../public/fonts/OCRA.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
}

text, p, a, li {
  font-family: 'OCR-A', sans-serif;
}

.Root {
  text-align: center;
}

.Root-header {
  background:
          linear-gradient(135deg, steelblue, transparent),
          url("../public/noise.svg");
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
