@font-face {
  font-family: "OCR-A";
  src: url("/OCRA.ttf") format("truetype");
}

@font-face {
  font-family: "Tomorrow-Regular";
  src: url("/Tomorrow-Regular.ttf") format("truetype");
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OCR-A", sans-serif;
  font-weight: 400;
}

text,
p,
a,
li,
span {
  font-family: "Tomorrow-Regular", sans-serif;
}

.Root {
  text-align: center;
}

.Root-header {
  background:
    linear-gradient(135deg, steelblue, transparent), url("/noise.svg");
  min-height: calc(100svh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
