@font-face {
  font-family: 'OCR-A';
  src: url("../public/fonts/OCRA.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

text, p, a {
  font-family: 'OCR-A', sans-serif;
}

.Root {
  text-align: center;
}

.Root-header {
  background-color: steelblue;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
